.data-container{
  width: 90vw;
  background-color: #FFF;
  height: 100%;
  position: fixed;
  z-index: 1;
  padding-left: 20vw;
}

.title {
  display: flex;
  text-align: center;
  width: auto;
  top: 5vh;
  position: relative;
  justify-content: center;
  font-size: 2.6em;
  z-index: 2;
  animation: fade-in 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}
