.phone-number-information-container {
  display: flex;
  height: auto;
  width: 100%;
  display: flex;
  font-size: 0.8em;
}

.phone-number-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.phone-index-text {

  text-align: left;
  position: relative;
}

.phone-number-text {
  text-indent: 5px;
  position: relative;
}
