.presentation-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.presentation-logo-container {
  width: calc(100vw - 20vw);
  height: 100vh;
  background-image: url(bg.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  margin: auto;
  left: 0vw;
  top: 0vh;
  animation: rotateInDownRight 1s;
}
