.student-column-container {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 2.5px;
  border-bottom: solid 1px;
  border-color: #E5E8E8;
}

.student-management-table {
  position: relative;
  width: 770px;
  height: 620px;
  top: 50px;
  overflow-y: scroll;
  display: block;
  margin: auto;
  left: -400px;
}

.student-information-column {
  width: 300px;
  height: auto;
  position: relative;
  border-left: solid 1px;
  border-color: #FFF;
  transition: 0.5s;
}

.student-phone-numbers-column {
  width: 220px;
  height: auto;
  position: relative;
  border-left: solid 1px;
  border-color: #FFF;
  transition: 0.5s;
}

.student-courses-column {
  width: 250px;
  height: auto;
  position: relative;
  border-left: solid 1px;
  border-color: #FFF;
  transition: 0.5s;
}

.information-row-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.atribute-container {
  width: 35%;
  height: auto;
  position: relative;
  text-align: left;
  font-weight: bold;
  text-indent: 5%;
}

.value-container {
  width: 65%;
  height: auto;
  position: relative;
  display: flex;
  text-indent: 10px;
  align-items: center;
}

.student-column-container:hover div.student-information-column{
  background-color: #E5E8E8;
  cursor: pointer;
  border-left-color: #E5E8E8;
}

.student-column-container:hover div.student-phone-numbers-column{
  background-color: #E5E8E8;
  cursor: pointer;
  border-left-color: #E5E8E8;
}

.student-column-container:hover div.student-courses-column{
  background-color: #E5E8E8;
  cursor: pointer;
  border-left-color: #E5E8E8;
}
