.teacher-column-container {
  width: auto;
  height: auto;
  position: relative;
  padding-top: 2.5px;
  border-bottom: solid 1px;
  border-color: #E5E8E8;
}

.teacher-management-table {
  position: relative;
  width: 100%;
  height: 500px;
  top: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  margin: auto;
}

.teacher-information-column {
  width: 100%;
  height: auto;
  position: relative;
  border-left: solid 1px;
  border-color: #FFF;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 0.8em;
  transition: 0.5s;
}

.information-row-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.atribute-container {
  width: 35%;
  height: auto;
  position: relative;
  text-align: left;
  font-weight: bold;
  text-indent: 5%;
}

.value-container {
  width: 65%;
  height: auto;
  position: relative;
  display: flex;
  text-indent: 10px;
  align-items: center;
}
